:root {
    --font-family: Inter, sans-serif;
}

body {
    margin: 0 auto;
    width: 320px;
    height: 568px;
    font-family: var(--font-family);
}

nav {
    display: flex;
    width: 300px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: #E6E6E6;
}

.back {
    position: relative;
    bottom: 25%;
    transform: translateY(12%);
}

.options {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Index */

.playlists {
    width: 300px;
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background: #F6F6F6;
}

.song-tile {
    display: flex;
    width: 280px;
    height: 74px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #E6E6E6;
}

.playlist-image1 {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    
}

.playlist-image2 {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    
}

.playlist-image3 {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.playlist-info {
    display: flex;
    width: 292px;
    padding: 180px 4px 8px 4px;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000000;
}

h2 a {
    text-decoration: none !important;
}

p {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

p a {
    text-decoration: none !important;
}

img.back {
    width: 12.053px;
    height: 15px;
    flex-shrink: 0;
}

img.options {
    width: 17.468px;
    height: 5px;
    flex-shrink: 0;
}


/* Player */

.container {
    background-color: #F6F6F6;
}

.cover {
    display: flex;
    width: 288px;
    height: 208px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#albumCover {
    width: 208px;
    height: 208px;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.song-info {
    display: flex;
    flex-direction: column;
    width: 288px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
}

progress {
    margin: 0 auto;
    justify-content: center;
}

#progressBar {
    display: flex;
    width: 288px;
    height: 16px;
    margin-bottom: 8px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 16px 0;
}

#previous {
    background-color: #F9F9F9;
    border: 0;
}

#play {
    background-color: #F9F9F9;
    border: 0;
}

#next {
    background-color: #F9F9F9;
    border: 0;
}

.secondary-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

#stop {
    border: 0;
    width: 16px;
    height: 16px;
}

#pause {
    border: 0;
    width: 16px;
    height: 16px;
}

.volume {
    width: 288px;
    display: inline-flex;
    padding: 24px 33px;
    align-items: center;
}

h3 {
    margin: 0;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    margin: 0;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
    text-align: center;
}

.music-player {
    margin-top: 16px;
    padding-bottom: 23px;
    text-align: center;
}

#volumeSlider {
    width: 200px;
    margin-top: 10px;
}

#progressBar {
    width: 80%;
    margin-top: 10px;
}